$primary-color:white;
$secondary-color:rgb(6, 73, 245);
$tertiary-color:#F1F3F4;
$font-color:rgb(21, 20, 20);




// %btn{
//     padding: 7px;
//     border-radius: 2px;
//     background-color: $tertiary-color;
// }