
//color
$primary-color:white;
$secondary-color:rgb(6, 73, 245);
$tertiary-color:#F1F3F4;
$font-color:rgb(21, 20, 20);

// fonts

$f1:1.333rem;
$f2:1.25rem;
$f3:1.166rem;
$f4:1.083rem;
$f5:1rem;
$f6:0.916rem;




// %btn{
//     padding: 7px;
//     border-radius: 2px;
//     background-color: $tertiary-color;
// }